@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-barlow);
  --font-display: var(--font-barlow-condensed);
}

:root {
  --cor-primaria: #F5C842;
  --cor-secundaria: #3D3D3D;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #1A1A1A;
  font-family: var(--font-barlow, 'Barlow', sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
